<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>To keep everything in sync, we need your permission to share your water consumption data with the Apple Health Service. Thanks for helping us keep your hydration records up to date!</string>
</dict>
</plist>
